<div class="row justify-content-center">

  <h1><em><%= @task.title %></em></h1>

  <div>

    <p><%= @task.details %></p>

  </div>
  <div class="row">
  <button class="col">
  <%= link_to "Delete",
    task_path(@task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  </button>

  <button class="col"><%= link_to "ðŸ¬ Go Back to Tasks", tasks_path %></button>
  </div>
</div>
